# Server Config
PORT=5000
NODE_ENV=development

# Database (MongoDB Atlas or Local Mongo)
DATABASE_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/file_locker

# CORS
CLIENT_ORIGIN=http://localhost:5173

# Local File Storage Path (inside container)
STORAGE_PATH=./uploads